@import url(https://fonts.googleapis.com/css?family=Roboto:300); /* ICONE DI NAVIGAZIONE PERSONALIZZATE */

a.infopoint {
    background: url(../images/skin/information.png) no-repeat;
}

a.editing {
    background-image: url(../images/skin/database_table.png);
}

.nav a.create {
    background-image: url(../images/skin/database_add.png);
}

.nav li.dropdown.open ul.dropdown-menu {
    background-color: #286286;
}

table {
    border-collapse: collapse !important;
    width: 100% !important;
}

th, td {
    border: lightblue;
    padding: 8px !important;
    text-align: center;
}

td{
    border-right: solid 1px black;
}

.zc-ref {
    display: none;
}

tr:nth-child(even) {
    background-color: white !important
}

th {
    background-color: #c7c7c7 !important;
    color: #3c3c3c !important;
}

html {
    background-color: #545454;
    background-image: -moz-linear-gradient(center top, #3c3c3c, #c7c7c7);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c3c3c), color-stop(1, #c7c7c7));
    background-image: linear-gradient(top, #3c3c3c, #c7c7c7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aaaaaa', EndColorStr='#dddddd');
    background-repeat: no-repeat;
}

.alert {
    padding: 10px;
    margin: 10px;
    background-color: #f44336;
    color: white;
    font-size: medium;
}

.info {
    padding: 10px;
    margin: 10px;
    background-color: #286286 !important;
    color: white;
    font-size: medium;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.seetab {
    padding-bottom: 5px;
    font-size: 100%;
    padding-top: 5px;
    padding-left: 10px;
}
.seetextfield{
    padding: 20%;
}

a.seetext {
    color: black !important;
    text-decoration: none;
}

a.seetext1 {
    color: black !important;
    font-size: medium;
}

.arealogin{
padding: 0.5%;
    top:0;
    margin: 0 10px 0 1px;
    border-right: 4px outset white;
    border-bottom: 4px outset white;
    border-left: 4px outset white;
    width:auto!important;
    min-width: 60px !important;
    max-width:1400px!important;
    background: transparent;
    text-align: center;
}

a.pull-right.arealogin{
    font-size: small !important;
}

.no-button{
    background-color: #286286;
    color: white;
    border: none;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
}

select.sec {
    width: auto;
    padding: 7px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=text].sec {
    width: 49%;
    padding: 7px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date].sec {
    width: 49%;
    padding: 7px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].sec {
    width: 49%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 15px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.sec {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}