@import url(https://fonts.googleapis.com/css?family=Roboto:300); /* ICONE DI NAVIGAZIONE PERSONALIZZATE */

a.infopoint {
    background: url(../images/skin/information.png) no-repeat;
}

a.editing {
    background-image: url(../images/skin/database_table.png);
}

.nav a.create {
    background-image: url(../images/skin/database_add.png);
}

.nav li.dropdown.open ul.dropdown-menu {
    background-color: #286286;
}

table {
    border-collapse: collapse !important;
    width: 100% !important;
}

th, td {
    border: lightblue;
    padding: 8px !important;
}

.zc-ref {
    display: none;
}

tr:nth-child(even) {
    background-color: white !important
}

th {
    background-color: #c7c7c7 !important;
    color: #3c3c3c !important;
}

html {
    background-color: #b7b7b7;
    background-image: -moz-linear-gradient(center top, #aaa, #b7b7b7);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b7b7b7), color-stop(1, #ddd));
    background-image: linear-gradient(top, #dddddd, #b7b7b7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aaaaaa', EndColorStr='#dddddd');
    background-repeat: no-repeat;
}

.alert {
    padding: 10px;
    margin: 10px;
    background-color: #f44336;
    color: white;
    font-size: medium;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.seetab {
    padding-bottom: 5px;
    font-size: 100%;
    padding-top: 5px;
    padding-left: 10px;
}
.seetextfield{
    padding: 20%;
}

a.seetext {
    color: black !important;
    text-decoration: none;
}

a.seetext1 {
    color: black !important;
    font-size: medium;
}

.arealogin{
padding: 0.5%;
    top:0;
    margin: 0 15px 0 1px;
    border-right: 2px outset #c7c7c7;
    border-bottom: 2px outset #c7c7c7;
    border-left: 2px outset #c7c7c7;
    width:auto!important;
    max-width:1400px!important;
    background: rgba(84, 84, 84, 0.48);
}

a.pull-right.arealogin{
    font-size: small !important;
}